@import url("components/dashboard.css");
@import url("components/hotbar.css");


:root{
    --bg: url("../assets/blue.webp");
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.login-box {
    width: 100%;
    max-width: 350px;
    padding: 30px;
    background: #f5f9ff;
    border-radius: 20px;
}

h1 {
    margin-top: 0;
    color: #1d4ed8;
    font-size: clamp(28px, 5vw, 38px);
}

.text {
    color: #666;
    margin-bottom: 25px;
    font-size: clamp(14px, 2vw, 16px);
}

.text a,
.options a {
    color: #2563eb;
    text-decoration: none;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: none;
    border-radius: 12px;
    background: white;
    box-shadow:
        inset 2px 2px 5px #d6dce5,
        inset -2px -2px 5px white;
    font-size: 14px;
    box-sizing: border-box;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
    flex-wrap: wrap;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

